body{
    height: 100vh;
    align-content: center;
    justify-items: center;
    margin: 0;
}

.calculator{
    height: 600px;
    width: 450px;
    border: 2px solid black;
}

.display{
    width: auto;
    height: 65px;
    margin: 10px;
    padding-right: 15px;
    text-align: end;
    align-content: center;
    border: 2px solid black;
    font-size: xx-large;
    box-sizing: border-box;
}

.whole{
    height: 20px;
    font-size: x-large;
}
.curr{
    height: 30px;
    padding-bottom: 5px;
}

.buttons{
    display: flex;
    gap: 15px;
    padding: 15px;
}

.column{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}