body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: monospace;
    background-color: rgb(200, 242, 255);
}

.calculator{
    height: 600px;
    width: 450px;
    padding: 5px;
    margin: 40px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #333;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.display{
    width: auto;
    height: 75px;
    margin: 10px;
    margin-bottom: 0px;
    padding-right: 15px;
    border-radius: 15px;
    text-align: end;
    align-content: center;
    font-size: xx-large;
    box-sizing: border-box;
    background-color: #EDF6F9;
    overflow-x: auto;
    white-space: nowrap;

     /*Chrome, Safari, Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /*Firefox */
    scrollbar-width: none;
}

.whole{
    height: 20px;
    font-size: x-large;
}
.curr{
    height: 30px;
    padding-bottom: 5px;
}

.buttons{
    display: flex;
    gap: 25px;
    padding: 25px;
}

button{
    font-family: monospace;
    aspect-ratio: 1;
    border: none;
    font-size: 28px;
    border-radius: 8px;
    transition: transform 0.1s ease-in-out, background-color 0.1s;
}

button:hover{
    filter: brightness(1.2); 
    transform: scale(1.03);
}

button:active{
    filter: brightness(0.95);
    transform: scale(0.95);
}

.column{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.equal{
    aspect-ratio: none;
    flex: 1;
    color:white;
    background-color: #006D77;
}

.symbol
 {
   background-color: #E29578;
}

.backspace,
.clear,
.sign{
    background-color: #83C5BE;
}
.dot,
.num{
    background-color: #EDF6F9;
}

.whole{
    color: #2b2b2b;
}