* {
  box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    text-align: center;
    margin: 0;
    min-height: 100vh;

    font-family: 'Verdana', sans-serif;

    background-color: #2c3e50;
}

button {
    border: none;
    
    background-color: #e67e22;
    color: white;

    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    
    margin: 10px;           
    
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: #d35400;
    transform: scale(1.05); 
}

button:active {
    transform: scale(0.95);
}


p{
    color: antiquewhite;
}

div{
    background-color: #34495e; 
    padding: 20px;
    border: 1px solid #5d6d7e;
    border-radius: 15px;
    min-width: 500px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
}
#final_score{
    font-size: x-large;
    text-transform: uppercase;
    font-weight: bold;
}

#p_score, #c_score {
    color: #f1c40f;
    margin: 0 10px;
}

