* {
  box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 243, 243);
}

div{
    margin: 0;
    padding: 0;
}

#colorPicker {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

#colorPreview {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #51D713;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}


.menu-btn{
    display: flex; 
    justify-content: center;
    align-items: center;

    min-width: 180px;
    height: 42px;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: rgb(255, 180, 155);

    font-weight: bold;
    font-size: medium;
    font-family: sans-serif;

    cursor: pointer;
    transition: all 0.2s;

    gap: 10px;
}

.menu-btn:hover{
    background-color: rgb(255, 110, 62);
    transform: scale(1.05);
}

.menu-btn:active {
    transform: scale(0.95);
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
    width: 250px;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 193, 205);
    height: 720px;
    border-radius: 25px;
}

.menu div {
    width: 100%; 
    display: flex;
    justify-content: center;
}

.board{
    height: 600px;
    width: 600px;
    display: flex;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.lane{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.block{
    flex: 1 1 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
}

.active{
    background-color: rgb(255, 110, 62);
}